[Unit]
Description=Disable HW Prefetch on Intel CPUs
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/sbin/disable-hardware-prefetch.service
TimeoutStartSec=0

[Install]
WantedBy=default.target
